.clr-form-control {
    align-items: unset;
 }
 .clr-input{
    width: 100%;
 }
 .dropdown{
    width: 100%;
 }
 .clr-select{
     width: 100%;
 }
 .enzyme-count {
    font-size: 0.8rem;
 }
 .enzyme-table {
    margin-bottom : 1rem;
 }
 .table td {
    vertical-align: middle;
 }
.button-column {
   text-align: right;
}
.clear-button {
   text-align: right;
}
 