<div class="clr-row">
    <div class="clr-col-6">
        <span class="headline">biocatalyst</span>
    </div>
    <div class="clr-col-6 right-column">
        <button class="btn btn-link btn-sm" (click)="newEnzyme()">
            <clr-icon shape="plus"></clr-icon> new biocatalyst
        </button>
    </div>
</div>

<!-- Enzyme Suche -->
<div class="searchbar-container">
    <div class="brenda-search-wrapper">
        <label class="searchbar-label">
            <clr-dropdown>
                <clr-icon shape="search" size="24"></clr-icon>
                <button class="close" aria-label="close" (click)="resetSearch()" *ngIf="closeButton">
                    <clr-icon shape="close" size="24"></clr-icon>
                </button>
                <input class="clr-input searchbar-input" type="text" (ngModelChange)="filterSearchInput($event)" [ngModel]="searchInput" name="searchInput" placeholder="search biocatalyst ..." />
                <ng-template [(clrIfOpen)]="dropdown">
                    <clr-dropdown-menu>
                        <div clrDropdownItem (click)="selectSearchEnzyme(enzyme)" *ngFor="let enzyme of enzymeList">{{enzyme.enzymeName}}</div>
                    </clr-dropdown-menu>
                </ng-template>
            </clr-dropdown>
        </label>
    </div>
</div>

<!-- Enzyme Card -->
<div class="enzyme" *ngFor="let enzyme of getEnzymes()">
    <div class="clr-row">
        <div class="clr-col-12 right-column">
            <button class="btn btn-link btn-sm delete-btn" (click)="deleteEnzyme(enzyme)">
                <clr-icon shape="trash"></clr-icon> delete biocatalyst
            </button>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-12">
            <div class="card vessel-card">
                <div class="card-block">
                    <div class="card-text">
                        <div class="enzyme-details">
                            <form clrForm>
                                <clr-input-container>
                                    <label>name</label>
                                    <input clrInput type="text" [(ngModel)]="enzyme.name" name="name" />
                                </clr-input-container>
                                <clr-textarea-container>
                                    <label>amino acid sequence</label>
                                    <textarea clrTextarea [(ngModel)]="enzyme.sequence" name="sequence"></textarea>
                                </clr-textarea-container>
                                <clr-input-container>
                                    <label>concentration</label>
                                    <input clrInput type="text" [(ngModel)]="enzyme.concentration" name="concentration" />
                                </clr-input-container>
                                <clr-select-container>
                                    <label>unit</label>
                                    <select clrSelect [(ngModel)]="enzyme.unit" name="unit">
                                        <option value="mmol/L">mmol/L</option>
                                        <option value="mmoL/L">mmoL/L</option>
                                        <option value="mg/mL">mg/mL</option>
                                        <option value="mL">mL</option>
                                    </select>
                                </clr-select-container>
                                <clr-input-container>
                                    <label>formulation</label>
                                    <input clrInput type="text" [(ngModel)]="enzyme.formulation" name="formulation" />
                                </clr-input-container>
                                <clr-input-container>
                                    <label>determination assay</label>
                                    <input clrInput type="text" [(ngModel)]="enzyme.determination" name="determination" />
                                </clr-input-container>
                            </form>
                            <div class="clr-row reactions-row">
                                <div class="clr-col-2 label-col">
                                    <label class="clr-control-label">reaction</label>
                                </div>
                                <div class="clr-col-10">
                                    <button class="btn btn-outline btn-icon" (click)="reactionSelection(enzyme)" *ngIf="enzyme.ecNumber">
                                        <clr-icon shape="search"></clr-icon> search reaction
                                    </button>
                                    <div class="reactant-editor">
                                        <button class="btn btn-link reaction-btn" (click)="deleteSubstrate(enzyme)">
                                            <clr-icon shape="minus"></clr-icon>
                                        </button>
                                        substrates
                                        <button class="btn btn-link reaction-btn" (click)="addSubstrate(enzyme)">
                                            <clr-icon shape="plus"></clr-icon>
                                        </button>
                                    </div>
                                    <div class="reactant-editor">
                                        <button class="btn btn-link reaction-btn" (click)="deleteProduct(enzyme)">
                                            <clr-icon shape="minus"></clr-icon>
                                        </button>
                                        products
                                        <button class="btn btn-link reaction-btn" (click)="addProduct(enzyme)">
                                            <clr-icon shape="plus"></clr-icon>
                                        </button>
                                    </div>
                                    <button class="btn btn-warning-outline btn-icon" (click)="deleteReaction(enzyme)">
                                        <clr-icon shape="trash"></clr-icon> delete reaction
                                    </button>
                                    <table class="table table-compact table-noborder" *ngIf="(enzyme.reaction.educts.length + enzyme.reaction.products.length) > 0">
                                        <tbody>
                                            <div class="reaction">
                                                <tr>
                                                    <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                                        <td><input clrInput class="reaction-input" type="text" [(ngModel)]="educt.name" /></td>
                                                        <td class="reaction-operation" *ngIf="!isLast">+</td>
                                                    </ng-container>
                                                    <td class="reaction-operation">⇌</td>
                                                    <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                                        <td><input clrInput class="reaction-input" type="text" [(ngModel)]="product.name" /></td>
                                                        <td class="reaction-operation" *ngIf="!isLast">+</td>
                                                    </ng-container>
                                                </tr>
                                                <tr>
                                                    <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                                        <td><img src={{educt.imageUrl}} *ngIf="educt.imageUrl"><span *ngIf="!educt.imageUrl">{{educt.name}}</span></td>
                                                        <td class="reaction-operation" *ngIf="!isLast">+</td>
                                                    </ng-container>
                                                    <td class="reaction-operation">⇌</td>
                                                    <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                                        <td><img src={{product.imageUrl}} *ngIf="product.imageUrl"><span *ngIf="!product.imageUrl">{{product.name}}</span></td>
                                                        <td class="reaction-operation" *ngIf="!isLast">+</td>
                                                    </ng-container>
                                                </tr>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="reactionModal" [clrModalSize]="'lg'">
    <h3 class="modal-title">select reaction</h3>
    <div class="modal-body">
        <clr-select-container>
            <select clrSelect [(ngModel)]="selectedReaction" name="selectedReaction">
                <option *ngFor="let element of reactionList" [ngValue]="element">{{element.value}}</option>
            </select>
        </clr-select-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="reactionModal = false">cancel</button>
        <button type="button" class="btn btn-primary" (click)="addReaction()">select</button>
    </div>
</clr-modal>

<div class="overlay" *ngIf="loading">
    <div class="overlay-wrapper">
        <div class="overlay-spinner">
            <span class="spinner spinner-inverse spinner-lg"></span>
        </div>
    </div>
</div>