.clr-form-control {
   align-items: unset;
}
.clr-input,
.dropdown,
.clr-textarea{
   width: 100%;
}
.dropdown-menu {
   max-width: none;
   width: 100%;
}

::ng-deep clr-select-container .clr-control-container .clr-select-wrapper {
   display: flex;
   width: 100%;
} 

::ng-deep clr-select-container select {
   width: 100%;
}

.enzyme-details {
   width: 100%;
}

.button-cell,
.clear-button {
   text-align: right;
}

.card {
   margin-bottom: 1rem;
}

.enzyme-table {
   margin-top: .5rem;
}

.table {
   width: 100%;
   margin-top: 0;
}
.table.table-vertical th {
   background-color: transparent;
}
.table td {
   vertical-align: middle;
}
.datagrid-row:hover {
   background-color: transparent;
}
.reaction-operation,
.enzyme-attribute {
   font-weight: bold;
   font-size: 0.8rem;
}

.reaction {
   border: thin;
}
.btn.btn-link {
   margin: 0 0 0 0.4rem;
}

/* Searchbar Container */

.searchbar-container {
   width: 100%;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-bottom: 2rem;
 }
 
 .searchbar-container .brenda-search-wrapper {
     width: 100%;
     position: relative;
     flex: 0 0 auto;
     text-align: left;
 }
 
 .searchbar-container .searchbar-label {
   position: relative;
   display: block;
   width: 100%;
   margin: 1rem auto;
 } 
 
 .searchbar-container .searchbar-label clr-icon[shape="search"] {
   position: absolute;
   left: .6rem;
   top: .6rem;
   color: #0072a3;
 }

 .searchbar-container .searchbar-label input.searchbar-input {
   width: 100%;
   padding: 1.2rem 2.4rem;
   height: 2.4rem;
 }

 .searchbar-container .searchbar-label button.close {
   display: block;
   position: absolute;
   right: .6rem;
   top: .6rem;
}

button.close {
   padding: 0;
   cursor: pointer;
   background: transparent;
   border: 0;
   -webkit-appearance: none;
}
