.headline {
    margin-bottom: 2rem;
}
.title {
    font-size: 3rem;
    color: black;
}
.description {
    font-size: 1.2rem;
}

.file-upload {
    margin-top: 1rem;
}

.experiment-table {
    margin-top: .2rem;
    margin-bottom: 2rem;
}

.impressum {
    margin-bottom: 1rem;
}

.center-col {
    text-align: center;
}