<h1>Welcome to BioCatHub</h1>
<div class="clr-row">
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">
                BioCatHub
            </div>
            <div class="card-block">
                <div class="card-text">
                    We are a non profit project developed by the Research center Jülich and the Univerity of Stuttgart. 
                    The goal of this Webbased application is to enhance the reproducibility of experiments in biocatalysis.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" routerLink="./../enzyme">Collect experimental data</button>
            </div>
        </div>
    </div>
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">
                EnzymeML
            </div>
            <div class="card-block">
                <div class="card-text">
                    Beschreibung EnzymeML ...
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Link to Enzyme ML</button>
            </div>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">
                Zenodo
            </div>
            <div class="card-block">
                <div class="card-text">
                    Beschreibung Zenodo ...
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Link to Zenodo</button>
            </div>
        </div>
    </div>
    <div class="clr-col-6">
        <div class="card">
            <div class="card-header">
                BRENDA
            </div>
            <div class="card-block">
                <div class="card-text">
                    Beschreibung Brenda ... 
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Link to BRENDA</button>
            </div>
        </div>
    </div>
</div>
