.headline {
    margin-bottom: 2rem;
}
.title {
    font-size: 3rem;
    color: black;
}
.description {
    font-size: 1.2rem;
}

.file-upload {
    margin-top: 1rem;
}

.experiment-table {
    margin-top: .2rem;
    margin-bottom: 2rem;
}

.template {
    margin-right: 1rem;
}


.impressum-headline {
    color: black;
    font-size: 1rem;
}
.center-col {
    text-align: center;
    margin-bottom: 1rem;
}
.impressum-icon {
    margin-right: .2rem;
    color: #00567a;
}
.impressum-text {
    color: black;
}