<div class="clr-row">
    <div class="clr-col-6">
        <span class="headline">Measurement</span>
    </div>
    <div class="clr-col-6 button-column">
        <button class="btn btn-link btn-sm" (click)="templateFile()">
            <clr-icon shape="file"></clr-icon> Template File
        </button>
    </div>
</div>

<div class="clr-row" *ngIf="!measurementUploaded">
    <div class="clr-col-12">
        <div class="file-upload">
            <ngx-dropzone accept=".xlsx" (change)="onSelect($event)">
                <ngx-dropzone-label>Upload measurement file!</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let file of files" [removable]="true" (removed)="onRemove(file)">
                    <ngx-dropzone-label>{{file.name}}</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
        </div>
        <button class="btn btn-primary" (click)="uploadFile()" *ngIf="files.length > 0">Upload</button>
    </div>
</div>

<div class="clr-row" *ngIf="measurementUploaded" >
    <div class="clr-col-12" >
        <div class="card" >
            <div class="card-block" >
                <div class="card-title">
                    <div class="clr-row">
                        <div class="clr-col-11">{{getMeasurement().file.name}}</div>
                        <div class="clr-col-1 button-column">
                            <button class="btn btn-icon btn-link" (click)="deleteMeasurement()">
                                <clr-icon shape="trash" class="is-error"></clr-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div class="clr-row" >
                        <div class="clr-col-3" >
                            <clr-radio-container>
                                <label>style</label>
                                <clr-radio-wrapper>
                                  <input type="radio" clrRadio value="point" [(ngModel)]="getMeasurement().plot.style" (change)="updateImage()" />
                                  <label>point chart</label>
                                </clr-radio-wrapper>
                                <clr-radio-wrapper>
                                  <input type="radio" clrRadio value="line" [(ngModel)]="getMeasurement().plot.style" (change)="updateImage()" />
                                  <label>line chart</label>
                                </clr-radio-wrapper>
                                <clr-radio-wrapper>
                                  <input type="radio" clrRadio value="box" [(ngModel)]="getMeasurement().plot.style" (change)="updateImage()" />
                                  <label>box plot</label>
                                </clr-radio-wrapper>
                            </clr-radio-container>
                            <clr-toggle-container>
                                <label>replicates</label>
                                <clr-toggle-wrapper>
                                    <input type="checkbox" clrToggle [(ngModel)]="getMeasurement().plot.replicate1" (change)="updateImage()" />
                                    <label>replica 1</label>
                                </clr-toggle-wrapper>
                                <clr-toggle-wrapper>
                                    <input type="checkbox" clrToggle [(ngModel)]="getMeasurement().plot.replicate2" (change)="updateImage()" />
                                    <label>replica 2</label>
                                </clr-toggle-wrapper>
                                <clr-toggle-wrapper>
                                    <input type="checkbox" clrToggle [(ngModel)]="getMeasurement().plot.replicate3" (change)="updateImage()" />
                                    <label>replica 3</label>
                                </clr-toggle-wrapper>
                            </clr-toggle-container>
                            <clr-range-container [clrRangeHasProgress]="true">
                                <label>size</label>
                                <input type="range" clrRange [clrRangeHasProgress]="true" [(ngModel)]="getMeasurement().plot.size" name="size" />
                            </clr-range-container>
                        </div>
                        <div class="clr-col-9" >
                            <img [src]="measurementPlot">
                        </div>
                    </div>
                    <div class="clr-row measurement-data" >
                        <div class="clr-col-12">
                            <clr-accordion>
                                <clr-accordion-panel>
                                  <clr-accordion-title>data</clr-accordion-title>
                                  <clr-accordion-content *clrIfExpanded>
                                    <table class="table table-noborder table-compact">
                                        <thead>
                                            <tr>
                                                <th class="left">x</th>
                                                <th class="left">replica 1</th>
                                                <th class="left">replica 2</th>
                                                <th class="left">replica 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let element of getMeasurement().replicates">
                                                <td class="left">{{element.x_value}}</td>
                                                <td class="left" *ngFor="let value of element.y_values">{{value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </clr-accordion-content>
                                </clr-accordion-panel>
                            </clr-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
