<div class="clr-row">
    <div class="clr-col-4">
        <span class="headline">experiment</span>
    </div>
    <div class="clr-col-8 button-col">
        <button class="btn btn-link btn-sm" (click)="exportEnzymeML()">
            <clr-icon shape="file-zip" size="24"></clr-icon> EnzymeML
        </button>
        <button class="btn btn-link btn-sm" (click)="createPdf()">
            <clr-icon shape="file" size="24"></clr-icon> PDF
        </button>
        <!-- <button class="btn btn-link btn-sm" (click)="shareExperiment()">
            <clr-icon shape="link" size="24"></clr-icon> share
        </button> -->
        <button class="btn btn-link btn-sm" (click)="uploadToZenodo()">
            <clr-icon shape="upload-cloud" size="24"></clr-icon> zenodo
        </button>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <clr-textarea-container>
            <textarea clrTextarea [(ngModel)]="experiment.description" name="description" placeholder="description ..."></textarea>
        </clr-textarea-container>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-6">
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">enzymes</div>
                                <div class="clr-col-1 button-col">
                                    <button class="btn btn-icon btn-link" routerLink="./../enzyme">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">name</th>
                                        <th class="left">concentration</th>
                                        <th class="left">unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let enzyme of experiment.enzymes">
                                        <td class="left">{{enzyme.name}}</td>
                                        <td class="left">{{enzyme.concentration}}</td>
                                        <td class="left">{{enzyme.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">reagents</div>
                                <div class="clr-col-1 button-col">
                                    <button class="btn btn-icon btn-link" routerLink="./../reagent">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">name</th>
                                        <th class="left">concentration</th>
                                        <th class="left">unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reagent of experiment.reagents">
                                        <td class="left">{{reagent.name}}</td>
                                        <td class="left">{{reagent.concentration}}</td>
                                        <td class="left">{{reagent.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">vessel</div>
                                <div class="clr-col-1 button-col">
                                    <button class="btn btn-icon btn-link" routerLink="./../reaction">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">name</th>
                                        <th class="left">size</th>
                                        <th class="left">unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="left">{{experiment.vessel.name}}</td>
                                        <td class="left">{{experiment.vessel.size}}</td>
                                        <td class="left">{{experiment.vessel.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">reaction</div>
                                <div class="clr-col-1 button-col">
                                    <button class="btn btn-icon btn-link" routerLink="./../reaction">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">name</th>
                                        <th class="left">temperature</th>
                                        <th class="left">unit</th>
                                        <th class="left">ph value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="left">{{experiment.reaction.name}}</td>
                                        <td class="left">{{experiment.reaction.temp}}</td>
                                        <td class="left">{{experiment.reaction.unit}}</td>
                                        <td class="left">{{experiment.reaction.ph}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-col-6">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <div class="clr-row">
                        <div class="clr-col-11">measurement</div>
                        <div class="clr-col-1 button-col">
                            <button class="btn btn-icon btn-link" routerLink="./../measurement">
                                <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-img">
                    <img [src]="measurementPlot">
                </div>
                <div class="card-text">
                    {{experiment.measurement.notes}}
                    <clr-accordion>
                        <clr-accordion-panel>
                          <clr-accordion-title>data</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">x</th>
                                        <th class="left">replica 1</th>
                                        <th class="left">replica 2</th>
                                        <th class="left">replica 3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let element of experiment.measurement.replicates">
                                        <td class="left">{{element.x_value}}</td>
                                        <td class="left" *ngFor="let value of element.y_values">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                    </clr-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
