.clr-form-control {
    align-items: unset;
 }
 .clr-input,
 .clr-textarea {
    width: 100%;
 }

.clr-accordion {
    margin-top: 1rem;
    margin-bottom: 0;
 }

 .button-col {
     text-align: right;
 }

 .alert {
     margin-bottom: 1rem;
 }

 .card-container {
     height: 100%;
     padding: 1rem 0;
 }

 .card {
     height: 100%;
 }

 .metadata {
     margin-top: 2rem;
 }

 .table.table-vertical th {
    background-color: transparent;
 }

 .dashboard-icon {
     color: #00567a;
 }
