.clr-textarea {
    width: 100%;
}

.clr-accordion {
    margin-top: 1rem;
    margin-bottom: 0;
 }

 .zenodo-alert {
    margin-bottom: 1rem;
 }

 .card-container {
     height: 100%;
     padding: 1rem 0;
 }

 .card {
     margin-top: 0;
     height: 100%;
 }

 .metadata {
     margin-top: 2rem;
 }

 .table.table-vertical th {
    background-color: transparent;
 }

 .dashboard-icon {
     color: #00567a;
     margin-right: .3rem;
 }
 .dashboard-headline {
    color: black;
    font-weight: 200;
    font-size: .9rem;
    letter-spacing: normal;
 }
