<h3>Dashboard</h3>

<div class="btn-group btn-outline-primary">
    <button class="btn">
        <clr-icon shape="upload-cloud"></clr-icon>
        Upload To Zenodo
    </button>
    <button class="btn">
        <clr-icon shape="folder"></clr-icon>
        Export EnzymeML
    </button>
    <button class="btn">
        <clr-icon shape="file"></clr-icon>
        Create PDF
    </button>
</div>

<div class="clr-row">
    <div class="clr-col-6">
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">Enzymes</div>
                                <div class="clr-col-1">
                                    <button class="btn btn-icon btn-link" routerLink="./../enzyme">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">ID</th>
                                        <th class="left">Enzyme name</th>
                                        <th class="left">Amino acid sequence</th>
                                        <th class="left">Concentraition</th>
                                        <th class="left">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let enzyme of experiment.enzymes">
                                        <td class="left">{{enzyme.id}}</td>
                                        <td class="left">{{enzyme.name}}</td>
                                        <td class="left">{{enzyme.sequence}}</td>
                                        <td class="left">{{enzyme.concentration}}</td>
                                        <td class="left">{{enzyme.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">Reagents</div>
                                <div class="clr-col-1">
                                    <button class="btn btn-icon btn-link" routerLink="./../reagent">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <table class="table table-noborder table-compact">
                                <thead>
                                    <tr>
                                        <th class="left">ID</th>
                                        <th class="left">Reagent name</th>
                                        <th class="left">Concentraition</th>
                                        <th class="left">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reagent of experiment.reagents">
                                        <td class="left">{{reagent.id}}</td>
                                        <td class="left">{{reagent.name}}</td>
                                        <td class="left">{{reagent.concentration}}</td>
                                        <td class="left">{{reagent.unit}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            <div class="clr-row">
                                <div class="clr-col-11">Vessel</div>
                                <div class="clr-col-1">
                                    <button class="btn btn-icon btn-link" routerLink="./../measurement">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <ul class="list-unstyled">
                                <li>ID: {{experiment.vessel.id}}</li>
                                <li>Name: {{experiment.vessel.name}}</li>
                                <li>Size: {{experiment.vessel.size}}</li>
                                <li>Unit: {{experiment.vessel.unit}}</li>
                                <li>Constant: {{experiment.vessel.constant}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-6">
        <div class="card">
            <div class="card-block">
                <div class="card-title">
                    <div class="clr-row">
                        <div class="clr-col-11">Measurement Data</div>
                        <div class="clr-col-1">
                            <button class="btn btn-icon btn-link" routerLink="./../measurement">
                                <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    Hier kommen die Messdaten ...
                </div>
            </div>
            <div class="card-block">
                <div class="card-text">
                    Und die Grafik
                </div>
            </div>
        </div>
    </div>
</div>
