<div class="row">
    <clr-tabs clrLayout="vertical">
        <clr-tab>
            <button clrTabLink id="enzyme">Enzyme specification</button>
            <clr-tab-content id="enzyme-content" *clrIfActive>
                <app-enzyme></app-enzyme>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink id="reagent">Reagent Specification</button>
            <clr-tab-content  id="reagent-content" *clrIfActive>
                <app-reagent></app-reagent>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink id="measurement">Measurement Data</button>
            <clr-tab-content id="measurement-content" *clrIfActive>
                <app-measurement></app-measurement>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>