<div class="clr-row">
    <div class="clr-col-12">
        <span class="headline">reaction conditions</span>
    </div>
</div>

<div class="clr-row">

    <div class="clr-col-6 IconContainer">
        <img [class]="aqueousCSS" [src]="aqueousIcon" (click)="clickAqueous()" >
    </div>

    <div class="clr-col-6 IconContainer">
        <img [class]="microAqueousCSS" [src]="microAqueousIcon" (click)="clickMicroAqueous()" >
    </div>

</div>

<div [ngSwitch]="reactionSystem" >

    <div *ngSwitchCase="'aqueous'">
        <app-aqueous></app-aqueous>
    </div>
    <div *ngSwitchCase="'Micro-aqueous'">
        <app-micro-aqueous></app-micro-aqueous>
    </div>
    <div *ngSwitchDefault> Hallo </div>

</div>