<div class="clr-row">
    <div class="clr-col-12">
        <span class="headline">reaction</span>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <div class="card reaction-card">
            <div class="card-block">
                <div class="card-text">
                    <form clrForm>
                        <clr-input-container>
                            <label>name</label>
                            <input clrInput type="text" [(ngModel)]="getReaction().name" name="name"/>
                        </clr-input-container>
                        <clr-input-container>
                            <label>temperature</label>
                            <input clrInput type="text" [(ngModel)]="getReaction().temp" name="temp" />
                        </clr-input-container>
                        <clr-select-container>
                            <label>unit</label>
                            <select clrSelect [(ngModel)]="getReaction().unit" name="unit">
                              <option value="°C">°C</option>
                            </select>
                        </clr-select-container>
                        <clr-input-container>
                            <label>ph value</label>
                            <input clrInput type="text" [(ngModel)]="getReaction().ph" name="ph" />
                        </clr-input-container>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
