<div class="main-container">
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <div class="clr-row" >
                <div class="clr-col-2">

                </div>
                <div class="clr-col-10">
                    <clr-timeline *ngIf="!start">
                        <clr-timeline-step [clrState]="enzymeState">
                          <clr-timeline-step-title>
                              <a id="enzyme" class="navigation-link" routerLink="./enzyme" routerLinkActive="active">Enzyme Specification</a>
                          </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="reagentState">
                          <clr-timeline-step-title>
                              <a id="reagent" class="navigation-link" routerLink="./reagent" routerLinkActive="active">Reagent Specification</a>
                          </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="measurementState">
                          <clr-timeline-step-title>
                              <a id="measurement" class="navigation-link" routerLink="./measurement" routerLinkActive="active">Measurement Data</a>
                          </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="dashboardState">
                          <clr-timeline-step-title>
                              <a id="dashboard" class="navigation-link" routerLink="./dashboard" routerLinkActive="active">Submit</a>
                          </clr-timeline-step-title>
                        </clr-timeline-step>
                    </clr-timeline>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
