<div class="main-container">
    <app-header></app-header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" *ngIf="!start">
            <a clrVerticalNavLink routerLink="./start" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
                home
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./enzyme" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="helix"></clr-icon>
                enzyme specification
            </a>
            <a clrVerticalNavLink routerLink="./reagent" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="flask"></clr-icon>
                reagent specification
            </a>
            <a clrVerticalNavLink routerLink="./reaction" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="thermometer"></clr-icon>
                reaction conditions
            </a>
            <a clrVerticalNavLink routerLink="./measurement" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="line-chart"></clr-icon>
                measurement data
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="grid-view"></clr-icon>
                overview
            </a>
        </clr-vertical-nav>
        <div class="content-area">
            <div class="clr-row" >
                <div class="clr-col-2"></div>
                <div class="clr-col-10">
                    <clr-timeline *ngIf="!start">
                        <clr-timeline-step [clrState]="enzymeState">
                            <clr-timeline-step-title>
                                <a id="enzyme" class="navigation-link" routerLink="./enzyme" routerLinkActive="active">enzyme specification</a>
                            </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="reagentState">
                            <clr-timeline-step-title>
                                <a id="reagent" class="navigation-link" routerLink="./reagent" routerLinkActive="active">reagent specification</a>
                            </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="reactionState">
                            <clr-timeline-step-title>
                                <a id="reaction" class="navigation-link" routerLink="./reaction" routerLinkActive="active">reaction conditions</a>
                            </clr-timeline-step-title>
                        </clr-timeline-step>
                        <clr-timeline-step [clrState]="measurementState">
                            <clr-timeline-step-title>
                                <a id="measurement" class="navigation-link" routerLink="./measurement" routerLinkActive="active">measurement data</a>
                            </clr-timeline-step-title>
                        </clr-timeline-step>
                    </clr-timeline>
                </div>
            </div>
            <router-outlet></router-outlet>
            <div class="footer-nav" *ngIf="!start">
                <div class="clr-row" >
                    <div class="clr-col-6 nav-previous">
                        <button class="btn btn-link" [routerLink]="previousRouterLink" *ngIf="previous">
                            <clr-icon shape="caret left"></clr-icon>
                            {{previousPage}}
                        </button>
                    </div>
                    <div class="clr-col-6 nav-next">
                        <button class="btn btn-link" [routerLink]="nextRouterLink" *ngIf="next">
                            {{nextPage}}
                            <clr-icon shape="caret right"></clr-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
