 .biocathub-navigation {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 auto;
 }

 .navigation-link {
     color: #666666;
 }

 .footer-nav {
     margin-bottom: 1rem;
 }

.nav-next {
    text-align: right;
}

.nav-dashboard {
    text-align: center;
}

.nav-overview:hover {
    background-color: #00567a;
    color: white;
}
.nav-new:hover {
    background-color: green;
    color: white;
}
.nav-cancel:hover {
    background-color: red;
    color: white;
}