header .branding .title {
    font-size: 1rem;
}
.cat {
    color: #79afcc;
}

.navigation-link {
    color: #666666;
}
.footer-nav {
    margin-bottom: 1rem;
}

.nav-overview:hover {
    background-color: #00567a;
    color: white;
}
.nav-new:hover {
    background-color: green;
    color: white;
}
.nav-cancel:hover {
    background-color: red;
    color: white;
}

.clr-timeline-step-description {
    color: #c21d00;
}
.clr-timeline-step-title {
    font-weight: 400;
    font-size: .7rem;
}
