<div class="reactant-detail">
    <clr-progress-bar class="reactant-progress" [clrValue]="getProgress()" clrMax="100" [clrSuccess]="getProgress()=='100'"></clr-progress-bar>
    <form clrForm>
        <clr-input-container>
            <label>name</label>
            <input clrInput type="text" [(ngModel)]="reactant.name" name="name"/>
        </clr-input-container>
        <div class="clr-form-control clr-row">
            <div class="clr-control-label clr-col-12 clr-col-md-2">concentration</div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="reactant.concentration" name="concentration" />
                </div>
            </div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-select-wrapper">
                    <select class="clr-select" [(ngModel)]="reactant.unit" name="unit">
                        <option value="mmol/L">mmol/L</option>
                        <option value="mmoL/L">mmoL/L</option>
                        <option value="mg/mL">mg/mL</option>
                        <option value="mL">mL</option>
                    </select>
                </div>
            </div>
        </div>
        <clr-select-container>
            <label>reaction role</label>
            <select clrSelect [(ngModel)]="reactant.role" name="role">
                <option value="substrate">substrate</option>
                <option value="product">product</option>
                <option value="additive">additive</option>
                <option value="cofactor">cofactor</option>
            </select>
        </clr-select-container>
        <clr-input-container>
            <label>purity</label>
            <input clrInput type="text" [(ngModel)]="reactant.purity" name="purity"/>
        </clr-input-container>
        <clr-input-container>
            <label>supplier</label>
            <input clrInput type="text" [(ngModel)]="reactant.supplier" name="supplier"/>
        </clr-input-container>
        <clr-input-container>
            <label>formula</label>
            <input clrInput type="text" [(ngModel)]="reactant.formula" name="formula"/>
        </clr-input-container>
        <clr-textarea-container>
            <label>SMILES</label>
            <textarea clrTextarea [(ngModel)]="reactant.smiles" name="smiles"></textarea>
        </clr-textarea-container>
        <div class="clr-form-control clr-row" *ngFor="let other of reactant.others">
            <div class="clr-control-label clr-col-12 clr-col-md-2">
                <input-combo [attributes]="attributes" [attribute]="other"></input-combo>
            </div>
            <div class="clr-control-container clr-col-md-10 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="other.value" [ngModelOptions]="{standalone: true}" />
                    <button class="btn btn-link btn-delete-attribute" (click)="deleteAttribute(other)">
                        <clr-icon shape="trash" class="is-error"></clr-icon>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-link btn-add-attribute" (click)="addAttribute()">
            <clr-icon shape="plus"></clr-icon> add attribute
        </button>
    </form>
</div>
