.table {
    margin-top: 0;
    margin-bottom: 0;
 }
 .table td {
    vertical-align: middle;
 }
 .reaction-operation,
 .enzyme-attribute {
    font-weight: bold;
    font-size: 0.8rem;
 }
 .reaction-btn {
    margin: 0 !important;
    padding: 0;
    min-width: unset;
    width: 2rem;
    height: 1.7rem;
 }
 .reaction-btn:hover {
    background-color: #e3f5fc;
 }
 .reactant-editor {
    display: inline-block;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #0072a3;
    width: fit-content;
    margin: 1rem .6rem .3rem 0;
    font-size: .6rem;
    font-weight: 500;
    color: black;
 }
 .reaction-input {
    margin: 0;
    min-width: 8rem;
 }
 .reaction-row{
    margin: 1rem 0 2rem 0;
 }