<div class="card">
    <div class="card-block">
        <div class="card-text">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink [disabled]="!enzyme.ecNumber">search reaction</button>
                    <clr-tab-content *clrIfActive>
                        <clr-select-container>
                            <label>select reaction</label>
                            <select clrSelect [(ngModel)]="enzyme.reaction.value" name="selectedReaction">
                                <option *ngFor="let enzymeReaction of getEnzymeReactions()" [ngValue]="enzymeReaction.value" (click)="selectReaction(enzymeReaction)">{{enzymeReaction.value}}</option>
                            </select>
                        </clr-select-container>
                        <table class="table table-compact table-noborder" *ngIf="getReactantCount() > 0">
                            <tbody>
                                <div class="reaction-table">
                                    <tr>
                                        <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                            <td><clr-input-container>
                                                    <input clrInput class="reaction-input" type="text" [(ngModel)]="educt.name" />
                                            </clr-input-container></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                        <td class="reaction-operation">⇌</td>
                                        <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                            <td><clr-input-container>
                                                    <input clrInput class="reaction-input" type="text" [(ngModel)]="product.name" />
                                            </clr-input-container></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                    </tr>
                                    <tr>
                                        <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                            <td><img [src]="environment.bchSmilesToStructurePath + educt.smiles" *ngIf="educt.smiles"><span *ngIf="!educt.smiles">{{educt.smiles}}</span></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                        <td class="reaction-operation">⇌</td>
                                        <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                            <td><img [src]="environment.bchSmilesToStructurePath + product.smiles" *ngIf="product.smiles"><span *ngIf="!product.smiles">{{products.smiles}}</span></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>manual reaction</button>
                    <clr-tab-content *clrIfActive="!enzyme.ecNumber">
                        <div class="reactant-editor">
                            <button class="btn btn-link reaction-btn" (click)="deleteReactionSubstrate()"><clr-icon shape="minus"></clr-icon></button>
                            substrates
                            <button class="btn btn-link reaction-btn" (click)="addReactionSubstrate()"><clr-icon shape="plus"></clr-icon></button>
                        </div>
                        <div class="reactant-editor">
                            <button class="btn btn-link reaction-btn" (click)="deleteReactionProduct()"><clr-icon shape="minus"></clr-icon></button>
                            products
                            <button class="btn btn-link reaction-btn" (click)="addReactionProduct()"><clr-icon shape="plus"></clr-icon></button>
                        </div>
                        <table class="table table-compact table-noborder" *ngIf="getReactantCount() > 0">
                            <tbody>
                                <div class="reaction">
                                    <tr>
                                        <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                            <td><clr-input-container>
                                                    <input clrInput class="reaction-input" type="text" [(ngModel)]="educt.name" />
                                            </clr-input-container></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                        <td class="reaction-operation">⇌</td>
                                        <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                            <td><clr-input-container>
                                                    <input clrInput class="reaction-input" type="text" [(ngModel)]="product.name" />
                                            </clr-input-container></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                    </tr>
                                    <tr>
                                        <ng-container *ngFor="let educt of enzyme.reaction.educts; last as isLast">
                                            <td><img [src]="environment.bchSmilesToStructurePath + educt.smiles" *ngIf="educt.smiles"><span *ngIf="!educt.smiles">{{educt.smiles}}</span></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                        <td class="reaction-operation">⇌</td>
                                        <ng-container *ngFor="let product of enzyme.reaction.products; last as isLast">
                                            <td><img [src]="environment.bchSmilesToStructurePath + product.smiles" *ngIf="product.smiles"><span *ngIf="!product.smiles">{{products.smiles}}</span></td>
                                            <td class="reaction-operation" *ngIf="!isLast">+</td>
                                        </ng-container>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </clr-tab-content>
                </clr-tab>
            </clr-tabs>
        </div>
    </div>
</div>
<overlay-spinner *ngIf="loading"></overlay-spinner>
