<header class="header-5">
    <div class="branding">
        <a href="./../start" class="nav-link">
            <span class="title">BIO<span class="dark">CAT</span>HUB</span>
        </a>
    </div>
    <div class="header-actions">
        <button class="btn btn-link" (click)="showUserData()">
            <clr-icon shape="user"></clr-icon>
            {{getUserName()}}
        </button>
    </div>
</header>

<clr-modal [(clrModalOpen)]="userDataVisible">
    <h3 class="modal-title">Personal Information</h3>
    <div class="modal-body">
        <form clrForm>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-3">first name</label>
                <input class="clr-col-12 clr-col-md-9" clrInput type="text" [(ngModel)]="user.firstName" name="firstName"/>
            </clr-input-container>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-3">last name</label>
                <input class="clr-col-12 clr-col-md-9" clrInput type="text" [(ngModel)]="user.lastName" name="lastName" />
            </clr-input-container>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-3">e-mail</label>
                <input class="clr-col-12 clr-col-md-9" clrInput type="text" [(ngModel)]="user.email" name="email" />
            </clr-input-container>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-3">institution</label>
                <input class="clr-col-12 clr-col-md-9" clrInput type="text" [(ngModel)]="user.institution" name="institution" />
            </clr-input-container>
            <clr-input-container>
                <label class="clr-col-12 clr-col-md-3">ORCID</label>
                <input class="clr-col-12 clr-col-md-9" clrInput type="text" [(ngModel)]="user.orcid" name="orcid" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveUserData()">Ok</button>
    </div>
</clr-modal>