<clr-input-container>
    <label>buffer</label>
    <input clrInput type="text" [(ngModel)] = "getExperiment().condition.buffer.type"  name="buffer-type"/>
</clr-input-container>


<div class="clr-form-control clr-row concentrationInput">
    <div class="clr-control-label clr-col-12 clr-col-md-2"> concentration</div>
    <div class="clr-control-container clr-col-md-4 clr-col-12">
        <div class="clr-input-wrapper">
            <input class="clr-input" type="text" [(ngModel)] = "getExperiment().condition.buffer.concentration"  name="buffer-conc" />
        </div>
    </div>
    <div class="clr-control-container clr-col-md-4 clr-col-12">
        <div class="clr-select-wrapper">
            <select class="clr-select" [(ngModel)]="getExperiment().condition.buffer.unit" name="buffer-unit">
                <option value=undefined hidden="true">placeholder.buffer_unit</option>
                <option value="mmol/L">mmol/L</option>
                <option value="mmoL/L">mmoL/L</option>
                <option value="mg/mL">mg/mL</option>
                <option value="mL">mL</option>
            </select>
        </div>
    </div>
</div>

<div class="clr-row concentrationInput">
    <div class="clr-col-12">
        <clr-input-container>
            <label>pH (optional)</label>
            <input clrInput type="text" name="ph"/>
        </clr-input-container>
    </div>

    <div class="clr-col-10">
        <div class="clr-form-control clr-row concentrationInput">
            <div class="clr-control-label clr-col-12 clr-col-md-4"> measured at</div>
            <div class="clr-control-container clr-col-md-4 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)] = "getExperiment().condition.buffer.concentration"  name="buffer-conc" />
                </div>
            </div>
            <div class="clr-control-container clr-col-md-4 clr-col-12">
                <div class="clr-select-wrapper">
                    <select class="clr-select" [(ngModel)]="getExperiment().condition.buffer.unit" name="buffer-unit">
                        <option value=undefined hidden="true">placeholder.buffer_unit</option>
                        <option value="mmol/L">mmol/L</option>
                        <option value="mmoL/L">mmoL/L</option>
                        <option value="mg/mL">mg/mL</option>
                        <option value="mL">mL</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    
</div>
