::ng-deep clr-select-container .clr-control-container .clr-select-wrapper {
   display: flex;
   width: 100%;
} 

::ng-deep clr-select-container select {
   width: 100%;
}

.card {
   margin-top: 0.5rem;
   margin-bottom: 1rem;
}
.vessel-card {
   margin-bottom: 0;
}