<clr-progress-bar class="progress top" [clrValue]="getProgress()" clrMax="100" [clrSuccess]="getProgress()=='100'"></clr-progress-bar>
<form clrForm>
    <clr-select-container>
        <label>measured reactant</label>
        <select clrSelect [(ngModel)]="measurement.reagent" (change)="updateImage()" name="reagent">
            <option value=undefined hidden="true">{{placeholder.reactant}}</option>
            <option [value]="reactant" *ngFor="let reactant of reactants">{{reactant}}</option>
        </select>
    </clr-select-container>
    <clr-radio-container clrInline>
        <label>plot</label>
        <clr-radio-wrapper>
            <input type="radio" clrRadio name="type" value="markers" [(ngModel)]="measurement.plotStyle" (change)="updateImage()" />
            <label>points</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio name="type" value="lines" [(ngModel)]="measurement.plotStyle" (change)="updateImage()" />
            <label>lines</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
            <input type="radio" clrRadio name="type" value="lines + markers" [(ngModel)]="measurement.plotStyle" (change)="updateImage()" />
            <label>both</label>
        </clr-radio-wrapper>  
    </clr-radio-container>
    <div class="clr-form-control clr-row">
        <div class="clr-control-container clr-col-md-12 clr-col-12">
            <!--<app-plot [measurement]="measurement"></app-plot>-->
            <plotly-plot [data] = "plot.data" [layout] = "plot.layout" [useResizeHandler] = "true"></plotly-plot>
        </div>
    </div>
    <div class="clr-form-control clr-row">
        <div class="clr-control-label clr-col-12 clr-col-md-2">x axis</div>
        <div class="clr-control-container clr-col-md-5 clr-col-12">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="text" [(ngModel)]="measurement.x_name" (change)="updateImage()" [placeholder]="placeholder.x_name" name="x_name" />
            </div>
        </div>
        <div class="clr-control-container clr-col-md-5 clr-col-12">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="text" [(ngModel)]="measurement.x_unit" (change)="updateImage()" [placeholder]="placeholder.x_unit" name="x_unit" />
            </div>
        </div>
    </div>
    <div class="clr-form-control clr-row">
        <div class="clr-control-label clr-col-12 clr-col-md-2">y axis</div>
        <div class="clr-control-container clr-col-md-5 clr-col-12">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="text" [(ngModel)]="measurement.y_name" (change)="updateImage()" [placeholder]="placeholder.y_name" name="y_name" />
            </div>
        </div>
        <div class="clr-control-container clr-col-md-5 clr-col-12">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="text" [(ngModel)]="measurement.y_unit" (change)="updateImage()" [placeholder]="placeholder.y_unit" name="y_unit" />
            </div>
        </div>
    </div>
    <div class="clr-form-control clr-row">
        <div class="clr-control-label clr-col-12 clr-col-md-2">replicates</div>
        <div class="clr-control-container clr-col-md-10 clr-col-12">
            <div class="replicates-editor">
                <button class="btn btn-link editor-btn" (click)="removeReplicate()"><clr-icon shape="minus"></clr-icon></button>
                replicates: {{getReplicaCount()}}
                <button class="btn btn-link editor-btn" (click)="addReplicate()"><clr-icon shape="plus"></clr-icon></button>
            </div>
            <div class="replicates-editor">
                <button class="btn btn-link editor-btn" (click)="deleteValues()"><clr-icon shape="minus"></clr-icon></button>
                measurement values: {{measurement.replicates.length}}
                <button class="btn btn-link editor-btn" (click)="addValues()"><clr-icon shape="plus"></clr-icon></button>
            </div>
        </div>
    </div>
</form>
<table class="table table-noborder table-compact replicates-table">
    <thead>
        <tr>
            <th class="left input-col">x</th>
            <th class="left input-col" *ngFor="let y of measurement.replicates[0].y_values; index as i">
                replica {{i+1}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of measurement.replicates; index as row">
            <td class="left input-col">
                <input class="clr-input table-input" type="text" [(ngModel)]="element.x_value" 
                    (ngModelChange)="updateImage()" (paste)="copyData($event)" 
                    [placeholder]="placeholder.cell"/>
            </td>
            <td class="left input-col" *ngFor="let y_value of element.y_values; index as col">
                <input class="clr-input table-input" type="text" [(ngModel)]="element.y_values[col]" 
                    (ngModelChange)="updateImage()" (paste)="copyData($event)" 
                    [placeholder]="placeholder.cell"/>
            </td>
        </tr>
    </tbody>
</table>
<form clrForm clrLayout="vertical">
    <clr-textarea-container>
        <label>notes</label>
        <textarea clrTextarea [(ngModel)]="measurement.notes" [placeholder]="placeholder.notes" name="notes"></textarea>
    </clr-textarea-container>
</form>
<button class="btn btn-warning delete-btn" (click)="deleteMeasurement()"><clr-icon shape="trash"></clr-icon> delete measurement</button>