<div class="description">
    <div class="clr-row" >
        <div class="clr-col-12 center-col">
            <span class="impressum-headline">standardisation of experimental data in a few steps</span>
        </div>
    </div>
    <div class="clr-row" >
        <div class="clr-col-2 center-col">
            <clr-icon shape="volume" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">1. vessels & volumes</span>
        </div>
        <div class="clr-col-2 center-col">
            <clr-icon shape="helix" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">2. biocatalyst</span>
        </div>
        <div class="clr-col-2 center-col">
            <clr-icon shape="flask" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">3. reactants</span>
        </div>
        <div class="clr-col-2 center-col">
            <clr-icon shape="thermometer" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">4. reaction conditions</span>
        </div>
        <div class="clr-col-2 center-col">
            <clr-icon shape="line-chart" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">5. experimental data</span>
        </div>
        <div class="clr-col-2 center-col">
            <clr-icon shape="upload-cloud" class="is-highlight" size="36"></clr-icon><br>
            <span class="impressum-text">6. publish experiment</span>
        </div>
    </div>
</div>