<div class="description">
    <div class="clr-row" >
        <div class="clr-col-12 center-col">
            <span class="impressum-headline">standardisation of experimental data in a few steps</span>
        </div>
    </div>
    <div class="clr-row" >
        <!--length for boxes can be changed with -sm, -md and -lg in <a> tag -->
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-right">
                <clr-icon shape="volume" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    At first a vessel in which the reaction took place and its volume has to be defined.
                    This can be for example an eppendorf tube or an Erlenmeyer flask.
                </span>
            </a><br>
            <span class="impressum-text">1. vessels & volumes</span>
        </div>
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-right">
                <clr-icon shape="helix" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    The enzyme of the reaction has to be defined.
                    It can be entered manually or entries from BRENDA can be taken.
                    The concentration and other important descriptors like the amino acid sequence have to be defined by the user.
                </span>
            </a><br>
            <span class="impressum-text">2. biocatalyst</span>
        </div>
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-right">
                <clr-icon shape="flask" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    In the next step the reactants of the reaction catalyzed by the enzyme have to be defined.
                    Existing reactions can be taken from Strenda-DB or the reaction is defined manually.
                    The number of substrates and products can be chosen individually.
                    Concentration, purity and other important attributes can be defined.
                    It is also possible to add new attributes, that are important for that specific experiment.
                </span>
            </a><br>
            <span class="impressum-text">3. reactants</span>
        </div>
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-left">
                <clr-icon shape="thermometer" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    Now additional metadata has to be given.
                    This includes the used buffer and its concentration.
                    Also the temperature has to be defined here.
                    It is also possible to add new, important attributes for example the absence or existance of a light soure.
                </span>
            </a><br>
            <span class="impressum-text">4. reaction conditions</span>
        </div>
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-left">
                <clr-icon shape="line-chart" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    To complete the experiment, the experimental data or measurement data can be uploaded.
                    An excel template is given, which allows an easy upload of the data.
                    It is also possible to upload different measurement series.
                    A plot of the data is given instantly and can be downloaded.
                </span>
            </a><br>
            <span class="impressum-text">5. experimental data</span>
        </div>
        <div class="clr-col-2 center-col">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-top-left">
                <clr-icon shape="upload-cloud" class="is-highlight" size="36"></clr-icon>
                <span class="tooltip-content">
                    After everything was entered the whole experiment can be uploaded to zenodo.
                    It is also possible to create an EnzymeML file or a PDF report.
                    If you have additional experiments, that differ by only one parameter from the original experiment,
                    you can add these easily under "additional experiments" and don't have to define the whole reaction again.
                </span>
            </a><br>
            <span class="impressum-text">6. publish experiment</span>
        </div>
    </div>
</div>