<div class="clr-row" *ngIf="dialogVisible">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <form clrForm>
                        <clr-input-container>
                            <label>name</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.name" name="name"/>
                        </clr-input-container>
                        <clr-input-container>
                            <label>concentration</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.concentration" name="concentration" />
                        </clr-input-container>
                        <clr-select-container>
                            <label>unit</label>
                            <select clrSelect [(ngModel)]="dialogReagent.unit" name="unit">
                                <option value="mmol/L">mmol/L</option>
                                <option value="mmoL/L">mmoL/L</option>
                                <option value="mg/mL">mg/mL</option>
                                <option value="mL">mL</option>
                            </select>
                        </clr-select-container>
                        <clr-select-container>
                            <label>reaction role</label>
                            <select clrSelect [(ngModel)]="dialogReagent.role" name="role">
                                <option value="substrate">substrate</option>
                                <option value="product">product</option>
                                <option value="additive">additive</option>
                                <option value="cofactor">cofactor</option>
                            </select>
                        </clr-select-container>
                        <clr-input-container>
                            <label>molecular formula</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.formula" name="formula"/>
                        </clr-input-container>
                        <clr-input-container>
                            <label>SMILES</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.smiles" name="smiles"/>
                        </clr-input-container>
                    </form>
                    <div class="card-buttons">
                        <div class="add-button" *ngIf="buttonAddVisible">
                            <button class="btn btn-primary" (click)="addReagentToList()">save</button>
                            <button class="btn btn-warning" (click)="cancelEdit()">cancel</button>
                        </div>
                        <div class="edit-buttons" *ngIf="buttonsEditVisible">
                            <button class="btn btn-primary" (click)="saveReagent()">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-6">
        <span class="headline">reactants</span>
    </div>
    <div class="clr-col-6 right-column" *ngIf="!dialogVisible">
        <button class="btn btn-link btn-sm" (click)="showDialog()">
            <clr-icon shape="plus"></clr-icon> new reagent
        </button>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <div class="reagent-table">
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th class="left">name</th>
                        <th class="left">concentration</th>
                        <th class="left">reaction role</th>
                        <th class="left">formula</th>
                        <th class="left">SMILES</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reagent of getReagents()">
                        <td class="left">{{reagent.name}}</td>
                        <td class="left">{{reagent.concentration}} {{reagent.unit}}</td>
                        <td class="left">{{reagent.role}}</td>
                        <td class="left">
                            <div [innerHTML]="getFormula(reagent.formula)"></div>
                        </td>
                        <td class="left">{{reagent.smiles}}</td>
                        <td class="right-column">
                            <div class="btn-group btn-icon btn-link">
                                <button class="btn" (click)="editReagent(reagent)">
                                    <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                </button>
                                <button class="btn" (click)="copyReagent(reagent)">
                                    <clr-icon shape="copy"></clr-icon>
                                </button>
                                <button class="btn" (click)="deleteReagent(reagent)">
                                    <clr-icon shape="trash" class="is-error"></clr-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-placeholder-container" *ngIf="getReagents().length == 0">
                <div class="table-placeholder">
                    no reactants specified
                </div>
            </div>
        </div>
    </div>
</div>
