<!-- <div class="clr-row">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title">Reagent Specification</div>
                <div class="card-text">
                    <form clrForm clrLayout="vertical">
                        <div class="clr-row">
                            <div class="clr-col-3">
                                <clr-input-container>
                                    <label>Reagent ID</label>
                                    <input clrInput type="text" [(ngModel)]="newReagent.id" [disabled]="true" name="reagentId"/>
                                </clr-input-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-input-container>
                                    <label>Reagent name</label>
                                    <input clrInput type="text" [(ngModel)]="newReagent.reagentName" name="reagentName"/>
                                </clr-input-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-input-container>
                                    <label>Concentration value</label>
                                    <input clrInput type="text" [(ngModel)]="newReagent.concentration" name="concentration" />
                                </clr-input-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-select-container>
                                    <label>Unit</label>
                                    <select clrSelect [(ngModel)]="newReagent.unit" [(ngModel)]="newReagent.unit" name="unit">
                                      <option value="mmol/L">mmol/L</option>
                                      <option value="mmoL/L">mmoL/L</option>
                                      <option value="mg/mL">mg/mL</option>
                                      <option value="mL">mL</option>
                                    </select>
                                </clr-select-container>
                            </div>
                            <div class="clr-col-3">
                                <clr-select-container>
                                    <label>Reagent kind</label>
                                    <select clrSelect [(ngModel)]="newReagent.kind" [(ngModel)]="newReagent.kind" name="kind">
                                      <option value="Substrate">Substrate</option>
                                      <option value="Product">Product</option>
                                      <option value="Additive">Additive</option>
                                      <option value="Cofactor">Cofactor</option>
                                    </select>
                                </clr-select-container>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="add-button" *ngIf="buttonAddVisible">
                    <button class="btn btn-primary" (click)="addReagentToList()">Add Reagent</button>
                </div>
                <div class="edit-buttons" *ngIf="buttonsEditVisible">
                    <button class="btn btn-success" (click)="saveReagent()">Save</button>
                    <button class="btn btn-warning" (click)="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-12">
        <h3 class="table-headline">Reagents <span class="reagents-count">({{reagentList.length}})</span></h3>
    </div>
    <div class="clr-col-12">
        
    </div>
</div> -->
<h3 class="table-headline">Reagent Specification</h3>
<div class="reagent-table">
    <table class="table table-compact">
        <thead>
            <tr>
                <th class="left">ID</th>
                <th class="left">Reagent name</th>
                <th class="left">Concentraition</th>
                <th class="left">Unit</th>
                <th class="left">Reagent kind</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reagent of reagentList">
                <td class="left">{{reagent.id}}</td>
                <td class="left">{{reagent.reagentName}}</td>
                <td class="left">{{reagent.concentration}}</td>
                <td class="left">{{reagent.unit}}</td>
                <td class="left">{{reagent.kind}}</td>
                <td>
                    <div class="btn-group btn-icon btn-link">
                        <button class="btn" (click)="editReagent(reagent.id)">
                            <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                        </button>
                        <button class="btn" (click)="copyReagent(reagent.id)">
                            <clr-icon shape="copy"></clr-icon>
                        </button>
                        <button class="btn" (click)="deleteReagent(reagent.id)">
                            <clr-icon shape="trash" class="is-error"></clr-icon>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="add-row">
                <td class="left">{{newReagent.id}}</td>
                <td class="left">
                    <clr-input-container>
                        <input clrInput type="text" [(ngModel)]="newReagent.reagentName" name="reagentName"/>
                    </clr-input-container>
                </td>
                <td class="left">
                    <clr-input-container>
                        <input clrInput type="text" [(ngModel)]="newReagent.concentration" name="concentration" />
                    </clr-input-container>
                </td>
                <td class="left">
                    <clr-select-container>
                        <select clrSelect [(ngModel)]="newReagent.unit" [(ngModel)]="newReagent.unit" name="unit">
                          <option value="mmol/L">mmol/L</option>
                          <option value="mmoL/L">mmoL/L</option>
                          <option value="mg/mL">mg/mL</option>
                          <option value="mL">mL</option>
                        </select>
                    </clr-select-container>
                </td>
                <td class="left">
                    <clr-select-container>
                        <select clrSelect [(ngModel)]="newReagent.kind" [(ngModel)]="newReagent.kind" name="kind">
                          <option value="Substrate">Substrate</option>
                          <option value="Product">Product</option>
                          <option value="Additive">Additive</option>
                          <option value="Cofactor">Cofactor</option>
                        </select>
                    </clr-select-container>
                </td>
                <td>
                    <div class="add-button" *ngIf="buttonAddVisible">
                        <button class="btn btn-primary" (click)="addReagentToList()">Add Reagent</button>
                    </div>
                    <div class="edit-buttons" *ngIf="buttonsEditVisible">
                        <button class="btn btn-success" (click)="saveReagent()">Save</button>
                        <button class="btn btn-warning" (click)="cancelEdit()">Cancel</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
