::ng-deep clr-select-container .clr-control-container .clr-select-wrapper {
   display: flex;
   width: 100%;
} 

::ng-deep clr-select-container select {
   width: 100%;
}

.table {
   margin-top: 0;
   margin-bottom: 0;
}
.table td {
   vertical-align: middle;
}
.table-placeholder-container {
   flex: 1 1 auto;
   display: felx;
   justify-content: center;
   border-style: solid;
   border-color: #cccccc;
   border-width: 0.05rem;
   border-top: none;
   background-color: white;
}
.table-placeholder{
   width: 100%;
   text-align: center;
   padding: .6rem;
   font-size: 0.8rem;
   color: #b3b3b3;
}
.right-column {
   text-align: right;
}
