<div class="clr-row" *ngIf="dialogVisible">
    <div class="clr-col-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <form clrForm>
                        <clr-input-container>
                            <label>name</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.name" name="name"/>
                        </clr-input-container>
                        <clr-input-container>
                            <label>concentration</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.concentration" name="concentration" />
                        </clr-input-container>
                        <clr-select-container>
                            <label>unit</label>
                            <select clrSelect [(ngModel)]="dialogReagent.unit" name="unit">
                                <option value="mmol/L">mmol/L</option>
                                <option value="mmoL/L">mmoL/L</option>
                                <option value="mg/mL">mg/mL</option>
                                <option value="mL">mL</option>
                            </select>
                        </clr-select-container>
                        <clr-select-container>
                            <label>reaction role</label>
                            <select clrSelect [(ngModel)]="dialogReagent.role" name="role">
                                <option value="substrate">substrate</option>
                                <option value="product">product</option>
                                <option value="additive">additive</option>
                                <option value="cofactor">cofactor</option>
                            </select>
                        </clr-select-container>
                        <clr-input-container>
                            <label>molecular formula</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.formula" name="formula"/>
                        </clr-input-container>
                        <clr-input-container>
                            <label>SMILES</label>
                            <input clrInput type="text" [(ngModel)]="dialogReagent.smiles" name="smiles"/>
                        </clr-input-container>
                    </form>
                    <button class="btn btn-primary" (click)="hideDialog()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <span class="headline">reactants</span>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <div class="reagent-table">
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th class="left">name</th>
                        <th class="left">concentration</th>
                        <th class="left">reaction role</th>
                        <th class="left">formula</th>
                        <th class="left">SMILES</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let enzyme of getEnzymes()">
                        <tr *ngFor="let educt of enzyme.reaction.educts">
                            <td class="left">{{educt.name}}</td>
                            <td class="left">{{educt.concentration}} {{educt.unit}}</td>
                            <td class="left">{{educt.role}}</td>
                            <td class="left">
                                <div [innerHTML]="getFormula(educt.formula)"></div>
                            </td>
                            <td class="left">{{educt.smiles}}</td>
                            <td class="right-column">
                                <div class="btn-group btn-icon btn-link">
                                    <button class="btn" (click)="editReagent(educt)">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let product of enzyme.reaction.products">
                            <td class="left">{{product.name}}</td>
                            <td class="left">{{product.concentration}} {{product.unit}}</td>
                            <td class="left">{{product.role}}</td>
                            <td class="left">
                                <div [innerHTML]="getFormula(product.formula)"></div>
                            </td>
                            <td class="left">{{product.smiles}}</td>
                            <td class="right-column">
                                <div class="btn-group btn-icon btn-link">
                                    <button class="btn" (click)="editReagent(product)">
                                        <clr-icon shape="pencil" class="is-highlight"></clr-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="table-placeholder-container" *ngIf="getReactantCount() == 0">
                <div class="table-placeholder">
                    no reactants specified
                </div>
            </div>
        </div>
    </div>
</div>
