 .reagents-count {
    font-size: 0.8rem;
 }
 .reagent-table {
    margin-bottom : 1rem;
 }
 .table td {
    vertical-align: middle;
 }
 .add-row {
    background-color: #d8e3e9;
 }
 .button-column {
   text-align: right;
}