<div class="enzyme-details">
    <clr-progress-bar class="enzyme-progress" [clrValue]="progress" clrMax="100" [clrSuccess]="progress=='100'"></clr-progress-bar>
    <form clrForm>
        <div class="clr-form-control clr-row">
            <div class="clr-control-label clr-col-12 clr-col-md-2">name</div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="enzyme.name" (change)="updateProgress()" name="name" />
                </div>
            </div>
            <div class="clr-control-container clr-control-inline clr-col-md-5 clr-col-12">
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="type" value="wildtype" [(ngModel)]="enzyme.type" 
                        (change)="updateProgress()" (click)="enzyme.variant=undefined" />
                    <label>wildtype</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="type" value="variant" [(ngModel)]="enzyme.type" 
                        (change)="updateProgress()" />
                    <label>variant</label>
                </clr-radio-wrapper>
            </div>
        </div>
        <clr-input-container *ngIf="enzyme.type=='variant'">
            <label> </label>
            <input clrInput type="text" [(ngModel)]="enzyme.variant" placeholder="variant name" 
                (change)="updateProgress()" name="variant"/>
        </clr-input-container>
        <clr-input-container>
            <label>organism</label>
            <input clrInput type="text" [(ngModel)]="enzyme.organism" (change)="updateProgress()" name="organism"/>
        </clr-input-container>
        <clr-textarea-container>
            <label>amino acid sequence</label>
            <textarea clrTextarea [(ngModel)]="enzyme.sequence" (change)="updateProgress()" name="sequence"></textarea>
        </clr-textarea-container>
        <div class="clr-form-control clr-row">
            <div class="clr-control-label clr-col-12 clr-col-md-2">concentration</div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="enzyme.concentration" (change)="updateProgress()" name="concentration" />
                </div>
            </div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-select-wrapper">
                      <select class="clr-select" [(ngModel)]="enzyme.unit" (change)="updateProgress()" name="unit">
                        <option value="mmol/L">mmol/L</option>
                        <option value="mmoL/L">mmoL/L</option>
                        <option value="mg/mL">mg/mL</option>
                        <option value="mL">mL</option>
                    </select>
                </div>
            </div>
        </div>
        <clr-input-container>
            <label>formulation</label>
            <input clrInput type="text" [(ngModel)]="enzyme.formulation" (change)="updateProgress()" name="formulation"/>
        </clr-input-container>
        <clr-input-container>
            <label>protein concentration method</label>
            <input clrInput type="text" [(ngModel)]="enzyme.method" (change)="updateProgress()" name="method"/>
        </clr-input-container>
        <div class="clr-form-control clr-row" *ngFor="let other of enzyme.others">
            <div class="clr-control-label clr-col-12 clr-col-md-2">
                <input-combo [attributes]="attributes" [attribute]="other"></input-combo>
            </div>
            <div class="clr-control-container clr-col-md-10 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="other.value" [ngModelOptions]="{standalone: true}" (change)="updateProgress()"/>
                    <button class="btn btn-link btn-delete-attribute" (click)="deleteAttribute(other)">
                        <clr-icon shape="trash" class="is-error"></clr-icon>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-link btn-add-attribute" (click)="addAttribute()">
            <clr-icon shape="plus"></clr-icon> add attribute
        </button>
    </form>
    <button class="btn btn-warning" (click)="deleteEnzyme()">delete biocatalyst</button>
</div>
