<div class="enzyme-details">
    <form clrForm>
        <div class="clr-form-control clr-row">
            <div class="clr-control-label clr-col-12 clr-col-md-2">name</div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="enzyme.name" name="name" />
                </div>
            </div>
            <div class="clr-control-container clr-control-inline clr-col-md-5 clr-col-12">
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="type" required value="wild type enzyme" [(ngModel)]="enzyme.type" />
                    <label>wildtype</label>
                  </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="type" required value="variant" [(ngModel)]="enzyme.type" />
                    <label>variant</label>
                </clr-radio-wrapper>
            </div>
        </div>
        <clr-input-container>
            <label>organism</label>
            <input clrInput type="text" [(ngModel)]="enzyme.organism" name="organism"/>
        </clr-input-container>
        <clr-textarea-container>
            <label>amino acid sequence</label>
            <textarea clrTextarea [(ngModel)]="enzyme.sequence" name="sequence"></textarea>
        </clr-textarea-container>
        <div class="clr-form-control clr-row">
            <div class="clr-control-label clr-col-12 clr-col-md-2">concentration</div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="enzyme.concentration" name="concentration" />
                </div>
            </div>
            <div class="clr-control-container clr-col-md-5 clr-col-12">
                <div class="clr-select-wrapper">
                      <select class="clr-select" [(ngModel)]="enzyme.unit" name="unit">
                        <option value="mmol/L">mmol/L</option>
                        <option value="mmoL/L">mmoL/L</option>
                        <option value="mg/mL">mg/mL</option>
                        <option value="mL">mL</option>
                    </select>
                </div>
            </div>
        </div>
        <clr-input-container>
            <label>formulation</label>
            <input clrInput type="text" [(ngModel)]="enzyme.formulation" name="formulation"/>
        </clr-input-container>
        <clr-input-container>
            <label>protein concentration method</label>
            <input clrInput type="text" [(ngModel)]="enzyme.determination" name="determination"/>
        </clr-input-container>
        <div class="clr-form-control clr-row" *ngFor="let other of enzyme.others">
            <div class="clr-control-label clr-col-12 clr-col-md-2">
                <input-combo [attributes]="attributes" [attribute]="other"></input-combo>
            </div>
            <div class="clr-control-container clr-col-md-10 clr-col-12">
                <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" [(ngModel)]="other.value" [ngModelOptions]="{standalone: true}"/>
                    <button class="btn btn-link btn-delete-attribute" (click)="deleteAttribute(other)">
                        <clr-icon shape="trash" class="is-error"></clr-icon>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-link btn-add-attribute" (click)="addAttribute()">
            <clr-icon shape="plus"></clr-icon> add attribute
        </button>
    </form>
    <br>
    <button class="btn btn-warning" (click)="deleteEnzyme()">delete biocatalyst</button>
</div>
