<div class="clr-row">
    <div class="clr-col-12">
        <div class="card reaction-card">
            <div class="card-block">
                <clr-progress-bar class="progress top" [clrValue]="getProgress()" clrMax="100" [clrSuccess]="getProgress()=='100'"></clr-progress-bar>
                <div class="card-text">
                    <form clrForm>


                        <clr-datagrid>

                            <clr-dg-column>type</clr-dg-column>
                            <clr-dg-column>concentration</clr-dg-column>
                            <clr-dg-column>unit</clr-dg-column>
                            <clr-dg-row>
                                <clr-dg-row-detail [clrDgReplace]="true">
                                    <!--Organic Solvent Component-->
                                    <app-aqueous-solvent [solvent]="getReaction().solvent.aqueous" style="width:100%" ></app-aqueous-solvent>
                                </clr-dg-row-detail>
                                <clr-dg-cell>org.type</clr-dg-cell>
                                <clr-dg-cell>org.concentration</clr-dg-cell>
                                <clr-dg-cell>org.unit</clr-dg-cell>
                        
                            </clr-dg-row>
                        
                        </clr-datagrid>

                        

                        <div class="clr-form-control clr-row">
                            <div class="clr-control-label clr-col-12 clr-col-md-2">temperature</div>
                            <div class="clr-control-container clr-col-md-5 clr-col-12">
                                <div class="clr-input-wrapper">
                                    <input class="clr-input" type="text" [(ngModel)]="getReaction().temp.value" [placeholder]="placeholder.temp" name="temp" />
                                </div>
                            </div>
                            <div class="clr-control-container clr-col-md-5 clr-col-12">
                                <div class="clr-select-wrapper">
                                    <select class="clr-select" [(ngModel)]="getReaction().temp.unit" name="unit">
                                        <option value=undefined hidden="true">{{placeholder.unit}}</option>
                                        <option value="°C">°C</option>
                                    </select>
                                </div>
                            </div>
                        </div>   
                        
                        <!-- Hier muss der Placeholder rein-->

                        <clr-input-container>
                            <label>buffer or solvent</label>
                            <input clrInput type="text" [(ngModel)]="getReaction().buffer.type" [placeholder]="placeholder.buffer" name="buffer-type"/>
                        </clr-input-container>
                        <div class="clr-form-control clr-row">
                            <div class="clr-control-label clr-col-12 clr-col-md-2"></div>
                            <div class="clr-control-container clr-col-md-5 clr-col-12">
                                <div class="clr-input-wrapper">
                                    <input class="clr-input" type="text" [(ngModel)]="getReaction().buffer.concentration" [placeholder]="placeholder.buffer_conc" name="buffer-conc" />
                                </div>
                            </div>
                            <div class="clr-control-container clr-col-md-5 clr-col-12">
                                <div class="clr-select-wrapper">
                                    <select class="clr-select" [(ngModel)]="getReaction().buffer.unit" name="buffer-unit">
                                        <option value=undefined hidden="true">{{placeholder.buffer_unit}}</option>
                                        <option value="mmol/L">mmol/L</option>
                                        <option value="mmoL/L">mmoL/L</option>
                                        <option value="mg/mL">mg/mL</option>
                                        <option value="mL">mL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clr-form-control clr-row" *ngFor="let other of getReaction().others">
                            <div class="clr-control-label clr-col-12 clr-col-md-2">
                                <input-combo [attributes]="attributes" [attribute]="other"></input-combo>
                            </div>
                            <div class="clr-control-container clr-col-md-10 clr-col-12">
                                <div class="clr-input-wrapper">
                                    <input class="clr-input" type="text" [(ngModel)]="other.value" [ngModelOptions]="{standalone: true}" placeholder="attribute value"/>
                                    <button class="btn btn-link btn-delete-attribute" (click)="deleteAttribute(other)">
                                        <clr-icon shape="trash" class="is-error"></clr-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <clr-input-container>
                            <label>pH (optional)</label>
                            <input clrInput type="text" [placeholder]="placeholder.ph" name="ph"/>
                        </clr-input-container>
                            

                        <div class="clr-row" style="justify-content: flex-end;">
                            <div class="clr-col-10">

                                <clr-accordion>
                                    <clr-accordion-panel>
                                        <div class="clr-control-label">pH measured in:</div>
                                        <clr-accordion-title>pH specification</clr-accordion-title>
                                            <clr-accordion-content *clrIfExpanded>
                                                <clr-radio-wrapper>
                                                    <input type="radio" clrRadio name="type" value="reaction setup"/>
                                                    <label>reaction mixture</label>
                                                </clr-radio-wrapper>
                                                <clr-radio-wrapper>
                                                    <input type="radio" clrRadio name="type" value="buffer"/>
                                                    <label>buffer</label>
                                                </clr-radio-wrapper>

                                                <div class="clr-form-control clr-row">
                                                    <div class="clr-control-label clr-col-12">pH measured at temperature:</div>
                                                    <div class="clr-control-container clr-col-md-5 clr-col-12">
                                                        <div class="clr-input-wrapper">
                                                            <input class="clr-input" type="text" [(ngModel)]="getReaction().temp.value" [placeholder]="placeholder.temp" name="temp" />
                                                        </div>
                                                    </div>
                                                    <div class="clr-control-container clr-col-md-5 clr-col-12">
                                                        <div class="clr-select-wrapper">
                                                            <select class="clr-select" [(ngModel)]="getReaction().temp.unit" name="unit">
                                                                <option value=undefined hidden="true">{{placeholder.unit}}</option>
                                                                <option value="°C">°C</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                        </clr-accordion-content>
                                    </clr-accordion-panel>                                
                                </clr-accordion>
                            </div>
                        </div>


                        
                        <button class="btn btn-link btn-add-attribute" (click)="addAttribute()">
                            <clr-icon shape="plus"></clr-icon> add attribute
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

