.organic-solvent-div{
    width:100%
}

.FormInput {
    width:100%
}

.Subheader{
    display:flex;
    justify-content:center;
    font-weight:bold;
    text-decoration: underline;
}

.concentrationInput{
    justify-content:flex-end
}

.separationLine{
    margin-top:5%
}

.reactant-progress {
    height: .1875rem;
}

.delteSolventButton{
    margin-top:7%
}