<div class="organic-solvent-div">
    <clr-progress-bar class="reactant-progress" clrMax="100" clrValue="99"></clr-progress-bar>

    <div class="clr-row" style="width:100%">
        <div class="clr-col-12">
            <clr-input-container>
                <label>solvent type</label>
                <input clrInput type="text" [(ngModel)]="org.type"  [placeholder]="'Pufferme'" name="buffr-type"/>
            </clr-input-container>
        </div>
    </div>

    <div class="clr-form-control FormInput clr-row concentrationInput">
        <div class="clr-control-label clr-col-12 clr-col-md-3"> concentration </div>
        <div class="clr-control-container clr-col-md-3 clr-col-12">
            <div class="clr-input-wrapper">
                <input class="clr-input" type="text" name="buffer-conc" [(ngModel)]="org.concentration" />
            </div>
        </div>
        <div class="clr-control-container clr-col-md-4 clr-col-12">
            <div class="clr-select-wrapper">
                <select class="clr-select" name="buffer-unit" [(ngModel)]="org.unit">
                    <option value=undefined hidden="true">placeholder.buffer_unit</option>
                    <option value="mmol/L">mmol/L</option>
                    <option value="mmoL/L">mmoL/L</option>
                    <option value="mg/mL">mg/mL</option>
                    <option value="mL">mL</option>
                    <option value="g">g</option>
                    <option value="g/g">g/g</option>
                </select>
            </div>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-2">
            <button class="btn btn-warning delteSolventButton">delete solvent</button>
        </div>
    </div>
</div>



