.impressum-headline {
    color: black;
    font-size: 1rem;
}
.center-col {
    text-align: center;
    margin-bottom: 1rem;
}
.impressum-icon {
    margin-right: .2rem;
}
.impressum-text {
    color: black;
}