<div class="impressum">
    <div class="clr-row" >
        <div class="clr-col-12 center-col">
            <button class="btn btn-link btn-icon btn-technologies" *ngIf="!show" (click)="show=true">
                <clr-icon shape="caret" dir="right"></clr-icon>
                <span class="impressum-headline"> external technologies and information systems</span>
            </button>
            <button class="btn btn-link btn-icon btn-technologies" *ngIf="show" (click)="show=false">
                <clr-icon shape="caret" dir="down"></clr-icon>
                <span class="impressum-headline"> external technologies and information systems</span>
            </button>
        </div>
    </div>
    <div class="clr-row" *ngIf="show">
        <div class="clr-col-3 center-col">
            <clr-icon class="is-highlight impressum-icon" size="24" shape="cloud"></clr-icon>
            <a href="https://zenodo.org/" target="_blank"><span class="impressum-text">zenodo</span></a><br>
            <p>
                BioCatHub supports uploading experimental data to a zenodo repsitory to make the experiments easily accesible and citeable.
            </p>
        </div>
        <div class="clr-col-3 center-col">
            <clr-icon class="is-highlight impressum-icon" size="24" shape="code"></clr-icon>
            <a href="https://github.com/EnzymeML" target="_blank"><span class="impressum-text">EnzymeML</span></a>
            <p>
                BioCatHub supports reading and writing EnzymeML files. The XML based exchange format for experimental data in biocatalysis is developed at the university of Stuttgart.
            </p>
        </div>
        <div class="clr-col-3 center-col">
            <clr-icon class="is-highlight impressum-icon" size="24" shape="storage"></clr-icon>
            <a href="https://www.brenda-enzymes.org/" target="_blank"><span class="impressum-text">BRENDA</span></a>
            <p>
                BioCatHub uses BRENDA REST API to specify enzymes and display information. The information system comprises molecular and biochemical information on enzymes that have been classified by the IUBMB.
            </p>
        </div>
        <div class="clr-col-3 center-col">
            <clr-icon class="is-highlight impressum-icon" size="24" shape="storage"></clr-icon>
            <a href="http://sabio.h-its.org" target="_blank"><span class="impressum-text">SABIO-RK</span></a>
            <p>
                SABIO-RK is a curated database containing structured information about biochemical reactions and their corresponding kinetics. It describes participants and modifiers of the reactions.
            </p>
        </div>
    </div>
</div>