.impressum-headline {
    color: black;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
}
.center-col {
    text-align: center;
    margin-bottom: 1rem;
}
.impressum-icon {
    margin-right: .2rem;
}
.impressum-text {
    color: black;
}
.btn-technologies {
    max-width: none;
    width: fit-content;
}