<div class="card">
    <div class="card-block">
        <clr-progress-bar class="progress top" [clrValue]="progress" clrMax="100" [clrSuccess]="progress=='100'"></clr-progress-bar>
        <div class="card-title">
            <button class="btn btn-icon btn-link" routerLink="./../measurement">
                <clr-icon class="dashboard-icon" size="24" shape="line-chart"></clr-icon>
                <span class="dashboard-headline">experimental data</span>
            </button>
        </div>
        <div class="card-block" *ngFor="let measurement of experimentalData.measurements; let i = index" [attr.data-index]="i">
            <div class="card-text">
                <table class="table table-noborder table-compact table-vertical">
                    <tbody>
                        <tr *ngIf="measurement.reagent" >
                            <th>measured reactant</th>
                            <td>{{measurement.reagent}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-img">
                <img [src]="measurementPlot[i]">
            </div>
            <div class="card-text" *ngIf="measurement.notes">
                {{measurement.notes}}
            </div>
        </div>
        <p *ngIf="experimentalData.measurements.length == 0">no experimental data</p>
    </div>
</div>
