/* You can add global styles to this file, and also import other style files */
.clr-form-control {
    align-items: unset;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.clr-input-wrapper,
.clr-select-wrapper {
    display: flex;
    max-width: none;
    width: 100%;
}
.clr-input,
.clr-select {
    width: 100%;
}

.center-column {
    text-align: center;
}
.right-column {
    text-align: right;
}

.btn {
    text-transform: none;
}

.btn,
.table,
.card,
.datagrid,
.modal-dialog .modal-content {
    border-radius: 0;
}

.card,
.datagrid {
    box-shadow: 0 0 0 0;
}

.headline {
    color: black;
    font-size: 1.2rem;
}

/* Data Grid */
.datagrid {
    margin-top: 0;
}
.datagrid-table .datagrid-placeholder .datagrid-placeholder-image {
    height: 0;
    width: 0;
    margin-bottom: 0;
    background-image: none;
}

/* Card */
.card {
    margin-bottom: 1rem;
}
.card .card-title {
    margin-top: .5rem;
    margin-bottom: 0;
}
.card .card-text:last-child {
    margin-bottom: .5rem;
}
.card-block {
    padding: 0 .6rem;
}
.card-buttons {
    margin-bottom: 1rem;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #333333;
    opacity: 0.85;
    z-index: 1040;
}
.overlay-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.attribut-label {
    color: #454545;
    font-size: .65rem;
    font-weight: 600;
    line-height: .9rem;
    padding: 0;
    border: 0;
 }
 
 .attribut-label:hover {
    border-bottom: .05rem solid;
    border-bottom-color: #b3b3b3;
 }

 .attribute-button {
    border: 0;
    padding: 0 0 0 .6rem;
    background: transparent;
 }

 .attribute-button:hover {
    background-color: transparent;
 }

 .card-block .btn  {
    margin: 0;
 }