/* You can add global styles to this file, and also import other style files */
.button-group-col {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.big-button {
    width: 12rem;
    height: 2.2rem;
    text-transform: none;
}
.button-icon {
    margin-right: .5rem;
}
.btn {
    text-transform: none;
}

.btn,
.table,
.card,
.datagrid,
.modal-dialog .modal-content {
    border-radius: 0;
}

.card,
.datagrid {
    box-shadow: 0 0 0 0;
}

.headline {
    color: black;
    font-size: 1.2rem;
}
.headline-col {
    margin-top: 1rem;
}

.datagrid {
    margin-top: 0;
}
.datagrid-table .datagrid-placeholder .datagrid-placeholder-image {
    height: 0;
    width: 0;
    margin-bottom: 0;
    background-image: none;
}

.card {
    margin-bottom: 1rem;
}
.card .card-title {
    margin-top: 1rem;
    margin-bottom: 0;
}
.card .card-text:last-child {
    margin-bottom: .5rem;
}
.card-block {
    padding: 0 .6rem;
}
.card-buttons {
    margin-bottom: 1rem;
}
.clr-form-control {
    margin-top: .8rem;
    margin-bottom: .8rem;
}
