/* You can add global styles to this file, and also import other style files */
.center-column {
    text-align: center;
}
.right-column {
    text-align: right;
}

.btn {
    text-transform: none;
}

.btn,
.table,
.card,
.datagrid,
.modal-dialog .modal-content {
    border-radius: 0;
}

.card,
.datagrid {
    box-shadow: 0 0 0 0;
}

.headline {
    color: black;
    font-size: 1.2rem;
}

.datagrid {
    margin: 0;
}
.datagrid-table .datagrid-placeholder .datagrid-placeholder-image {
    height: 0;
    width: 0;
    margin-bottom: 0;
    background-image: none;
}

.card {
    margin: 0;
    padding: 0 1rem;
}
.card .card-block{
    padding: 0;
}
.card .card-text:last-child {
    margin-bottom: 1rem;
}

.btn-add-attribute {
    margin: 0 !important;
    padding: 0 !important;
}
.btn-delete-attribute {
    margin: 0 0 0 .6rem !important;
    padding: 0 !important;
    min-width: unset;
}

.dashboard-icon {
    color: #00567a;
    margin-right: .3rem;
}
.dashboard-headline {
   color: black;
   font-weight: 200;
   font-size: .9rem;
   letter-spacing: normal;
}
