.experiment-table {
    margin-top: .2rem;
    margin-bottom: 2rem;
}
.clr-select-wrapper {
    display: inline-block;
    max-width: unset;
    width: unset;
}
.zenodo-link {
    color: white;
}
.zenodo-link:hover {
    text-decoration: none;
}