<clr-alert class="zenodo-alert" [clrAlertType]="'success'" *ngIf="showAlert">
    <clr-alert-item>
        <span class="alert-text">
            the experiment has been successfully uploaded to <a href="{{zenodoLink}}" target="_blank">zenodo</a> with id <b>{{id}}</b>
        </span>
    </clr-alert-item>
</clr-alert>
<div class="clr-row">
    <div class="clr-col-12">
        <span class="headline">experiment</span><span class="id" *ngIf="id"> #<a href="{{zenodoLink}}" target="_blank">{{id}}</a></span>
    </div>
</div>
<div class="clr-row button-row">

    <div class="clr-col-12">

        <button class="btn btn-primary" (click)="uploadToZenodo()"> 
            <clr-icon shape="upload-cloud" size="24"></clr-icon> upload to zenodo
        </button>

        <button class="btn btn-primary" (click)="exportEnzymeML()">
            <clr-icon shape="file-zip" size="24"></clr-icon> download EnzymeML
        </button>

    </div>
</div>

<div class="clr-row dashboard-row">
    <div class="clr-col-12">
        <dashboard-experiment [experiment]="experiment" [creationDate]="creationDate"></dashboard-experiment>
    </div>
</div>

<div class="clr-row">
    <div class="clr-col-6">
        <div class="clr-row dashboard-row">
            <div class="clr-col-6">
                <div class="dashboard-detail"><dashboard-vessel [vessel]="experiment.vessel"></dashboard-vessel></div>
            </div>
            <div class="clr-col-6">
                <div class="dashboard-detail"><dashboard-reaction [reaction]="experiment.condition"></dashboard-reaction></div>
            </div>
        </div>
        <div class="clr-row dashboard-row">
            <div class="clr-col-12">
                <div class="dashboard-detail"><dashboard-biokatalyst [enzymes]="experiment.enzymes"></dashboard-biokatalyst></div>
            </div>
        </div>
        <div class="clr-row dashboard-row">
            <div class="clr-col-12">
                <div class="dashboard-detail"><dashboard-reactants [enzymes]="experiment.enzymes"></dashboard-reactants></div>
            </div>
        </div>
    </div>
    <div class="clr-col-6">
        <div class="clr-row dashboard-row dashboard-detail">
            <div class="clr-col-12">
                <div class="dashboard-detail"><dashboard-measurement [experimentalData]="experiment.experimentalData"></dashboard-measurement></div>
            </div>
        </div>
    </div>
</div>

<overlay-spinner *ngIf="loading"></overlay-spinner>